//Imports
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');

//Variables
$bkgColor: rgb(255, 248, 217);
$pinkColor: rgb(209, 105, 200);
$compColor: complement($bkgColor);
$blackColor: rgb(22, 22, 22);